@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300px;
    color: #B0AB99;
}

/* headings and logo */

header {
    width: 100%;
    background-color: white;
    padding: 10px;
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #4A4737;
}

#logo {
    font-size: 200%; 
    text-align: center;
}

header a {
    text-decoration: none;
}

/* navigation links */

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 110%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #4A4737;
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    color:#4A4737;
}

/* hero image */

#hero-image-container {
    position: relative;
}

#hero-image {
    height: 300px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;
    background-size: cover;
}

#cover-text, #cover-text h2 {
    color: white; 
}

#cover-text {
    font-size: 100%;
    width: 250px;
    height: 120px;
    background-color:rgba(255, 255, 255, .7);
    color: #B0AB99;
    text-align: center;

    padding: 20px;
    bottom: 100px;
    right: 50px;

    position: absolute;
}

/* footer */

.contact-us {
    text-align: center;
    padding: 20px;
}

.social-networks {
    display:flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: #252525;
    font-size: 1.5rem;
    padding: 20px;
}


