@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300px;
    color: #3a3a3a;
}

/* headings and logo */

header {
    width: 100%;
    background-color: red;
    padding: 10px;
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #252525;
}

#logo {
    font-size: 200%; 
    text-align: center;
}

header a {
    text-decoration: none;
}

/* navigation links */

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 110%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #252525;
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    color:#252525;
}

/* navigation links */

footer {
    background-color: red;
}

.social-networks {
    display:flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: #252525;
    font-size: 1.5rem;
    padding: 10px;
}


