@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    color: #4A4737;
}

/* headings and logo */

header {
    width: 100%;
    background-color: white;
    padding-top: 10px;
}

h1,
h2,
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 140%;
    text-transform: uppercase;
    color: #4A4737;
}

#logo {
    font-size: 210%;
    text-align: center;
}

header a {
    text-decoration: none;
}

/* navigation links */

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

.nav-list a {
    font-size: 110%;
    text-decoration: none;
    color: inherit;
}

.nav-list a:hover {
    border-bottom: 2px solid #4A4737;
}

.active {
    border-bottom: 2px solid #4A4737;
}

/* hero image */

#hero-image {
    height: 300px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;
    background-size: cover;
}

#cover-text {
    background: rgba(255,255,255,.7);
    width: 250px;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -100%);
}

/* about section */

.about-container {
    text-align: center;
    margin-top: 20px;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.about-us,
.our-story,
.why-join-us {
    padding: 15px;
    margin: 5px;
    width: 70%;
}

.our-story {
    background-color: #FCEC88;
    padding: 20px;
}

.text-emphasis {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #4A4737;
    padding: 5px;
}

ol {
    list-style: none;
    counter-reset: steps;
    padding: 10px
}    

ol li {
    counter-increment: steps;
    
}

ol li::before {
    content: counter(steps);
    margin-right: 0.5rem;
    background: #FCEC88;
    color: #4A4737;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    font-weight: bolder;
}

ol ol li::before {
    background: #FCEC88;
  }

/* footer */

.contact-us {
    text-align: center;
    padding: 20px;
}

.social-networks {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 1.5rem;
    padding: 20px;
}

footer a {
    color: #4A4737;
}

/* sign up form */

#sign-up {
    width: 100%;
    line-height: 1.5;
    background: url('../images/hero-image.jpeg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.sign-up-heading {
    text-align: center;
    padding: 15px;
}

.sign-up-form {
    padding:15px;
}

.form {
    background: rgba(255,255,255,.7);
    width: 350px;
    padding: 15px;
    font-size: 100%;
    margin-bottom: 20px;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 10px 15px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #FCEC88;
    border-radius: 4px;
    outline: none;
}

input[type=email]:focus {
    border: 2px solid white;
  }

input[type=text]:focus {
    border: 2px solid white;
}

.submit-button {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 110%;
    color: #4A4737;
    text-transform: uppercase;
    padding: 8px;
    margin-top: 15px;
    background-color: #FCEC88;
    border-radius: 4px;
    transition-duration: 0.4s;
}
  
  .submit-button:hover {
    background-color: #4A4737;
    color: white;
  }

/* meet-up locations */

.locations-image {
    height: 300px;
    width: 100%;
    background: url(../images/coffee-shop-one.jpg) no-repeat center center;
    background-size: cover;
}

.locations-title {
    text-align: center;
    padding: 15px;
    margin: 10px;
}

.locations-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.location-type-one {
    background-color: #FCEC88;
    width: 100%;
    padding: 10px;
}

.location-type-two {
    background-color: white;
    width: 100%;
    padding: 10px;
}

.mapouter{
    position: relative;
    text-align: right;
    height: 250px;
    width: 250px;
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 4px;
}

.gmap_canvas {
    overflow:hidden;
    background:none;
    height: 250px;
    width: 250px;
}
